{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
        <div class="col col-sm-3"></div>

        <div class="col col-md-6">
        
            <div class="card text-center">
                <h5 class="card-header">Please sign in</h5>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                    <form method="post">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        <br>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        
                        <br>
                        <p>
                            <small>If you haven't have account yet, <a href="{{ path('app_register') }}">sign up</a></small>
                        </p>
                        
                        <button class="btn btn-primary" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        
        </div>

        <div class="col col-sm-3"></div>
{% endblock %}
