{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
<div class="row">
    <div class="col col-sm-3"></div>
    <div class="col col-md-6">
    {% if submitted %}
        <div class="card text-center">
            <div class="card-body">
                <p><i class="far fa-check-circle fa-6x"></i></p>
                <p>The link for password recovery was successfully sent to the specified E-mail</p>
                <p><a class="btn btn-primary" href="{{ path('index') }}">Go to the main</a></p>
            </div>
        </div>
    {% else %}
        <div class="card text-center">
            <h5 class="card-header">Forgot Password?</h5>
            <div class="card-body">
                <p>Enter your email</p>
                {{ form(form) }}
            </div>
        </div>
    {% endif %}
    </div>
    <div class="col col-sm-3"></div>
</div>
{% endblock %}
