{% extends 'base.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block body %}
<div class="row">
    <div class="col col-sm-3"></div>
    <div class="col col-md-6">
    {% if submitted %}
        <div class="card text-center">
            <div class="card-body">
                <p><i class="far fa-check-circle fa-6x"></i></p>
                <p>Ссылка для восстановления пароля была успешно выслана на указанный E-mail</p>
                <p><a class="btn btn-primary" href="{{ path('index') }}">Вернуться на главную</a></p>
            </div>
        </div>
    {% else %}
        <div class="card text-center">
            <h5 class="card-header">Забыли пароль?</h5>
            <div class="card-body">
                <p>Введите E-mail указанный при регистрации</p>
                {{ form(form) }}
            </div>
        </div>
    {% endif %}
    </div>
    <div class="col col-sm-3"></div>
</div>
{% endblock %}
