{% extends 'base.html.twig' %}

{% block title %}Dashboard | Projects{% endblock %}
{% block head_title %}
    <h2>Projects</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <a href="{{ path('app_dashboard_project_create') }}" class="btn btn-primary">Create project</a>
        </div>
    </div>
    
    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for item in projects %}
                <tr>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}