{% extends 'base.html.twig' %}

{% block title %}Dashboard | Teams{% endblock %}
{% block head_title %}
    <h2>Teams</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teams</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <a href="{{ path('app_dashboard_team_create') }}" class="btn btn-primary">Create team</a>
        </div>
    </div>
    
    <br>
    
    <table class="table table-bordered">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            {% for item in teams %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <a href="{{ path('app_dashboard_team_manage', {'id': item.id}) }}"><i class="fas fa-tools"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}