{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}
{% block head_title %}
    <h2>Admin Panel</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin Panel</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-sm-12">
            <div class="list-group">
                <a href="{{ path('app_admin_skill') }}" class="list-group-item list-group-item-action">Skills</a>
                <a href="{{ path('app_admin_security') }}" class="list-group-item list-group-item-action">Security</a>
            </div>
        </div>
    </div>

{% endblock %}
