{% extends 'base.html.twig' %}

{% block title %}Admin Panel | Skills{% endblock %}
{% block head_title %}
    <h2>Skills</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Admin Panel</a></li>
        <li class="breadcrumb-item active" aria-current="page">Skills</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-sm-12">
            <div class="list-group">
                <a href="{{ path('app_admin_skill_soft') }}" class="list-group-item list-group-item-action">Soft skills</a>
                <a href="{{ path('app_admin_skill_technical') }}" class="list-group-item list-group-item-action">Technical skills</a>
            </div>
        </div>
    </div>

{% endblock %}