{% extends 'base.html.twig' %}

{% block title %}Product Panel | Create Project{% endblock %}
{% block head_title %}
    <h2>Create Project</h2>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_product_panel') }}">Product Panel</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_product_panel_project') }}">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Project</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}

    {{ form(form) }}

{% endblock %}