<div id="taskArchive" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Archive task</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to archive task?</p>
      </div>
      <div class="modal-footer">
        <button id="task-archive-confirm" type="button" class=" btn btn-success">Confirm</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>